@import url("https://fonts.googleapis.com/css?family=Josefin+Sans%3A300%2C400%2C500%2C600%2C700&amp;subset=latin%2Clatin-ext");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

b {
  color: #f40062;
}

p {
  position: relative;
  bottom: -1px;
}

body {
  overflow-x: hidden !important;
  background-color: white;
  font-family: "Heebo", sans-serif, -webkit-pictograph;
}

::-webkit-scrollbar {
  display: none !important;
}

:root {
  --body: #ffffff;
  --text: #272727;
  --ovewcolor: #ffffff;
  --cantsel: #eaeaea;
  --cobump: rgba(200, 200, 200, 0.67);
  --searchback: #2727271c;
  --searchcolor: #000;
  --btnnav: #fff;
}

button {
  border: none;
}

body {
  overflow-x: hidden !important;
  background: var(--body);
  color: var(--text);
  font-family: system-ui;
  transition: background 0.3s;
}
body.dark {
  --body: #272727;
  --text: #fff;
  --ovewcolor: #2f2f2f;
  --cantsel: #141313;
  --cobump: #141313a1;
  --searchback: #ffffff33;
  --searchcolor: #fff;
  --btnnav: #141313;
}

.nightanddea {
  width: 36px;
  height: 36px;
  background: var(--sidenav);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nightanddea .theme-toggle {
  background: var(--sidenav);
  cursor: pointer;
}
.nightanddea .theme-toggle svg {
  fill: var(--text);
}

#movetoo {
  width: 30px;
  height: 30px;
  background: #f40062 url(../img/angle-up-free-icon-font.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px;
  position: fixed;
  bottom: -46px;
  right: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 20px var(--cobump);
  cursor: pointer;
}

.center-abi.closeer {
  display: flex !important;
}

.download-season-area-480p.showdow,
.download-season-area-720p.showdow,
.download-season-area-1080p.showdow,
.download-season2-area-480p.showdow,
.download-season2-area-720p.showdow,
.download-season1-area-480p.showdow,
.download-season1-area-720p.showdow {
  display: flex !important;
}

.center-nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-nav .bottom-navbar {
  position: fixed;
  bottom: 0px;
  background: var(--btnnav);
  width: 7rem;
  height: 42px;
  z-index: 3;
  border-radius: 9px 9px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1803921569);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.center-nav .bottom-navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-nav .bottom-navbar a svg {
  width: 27px;
  height: 27px;
  fill: var(--text);
}
.center-nav .bottom-navbar .active {
  position: relative;
}
.center-nav .bottom-navbar .active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 25px;
  height: 4px;
  background: #f40062;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

#loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  z-index: 999;
}
#loading .centerd {
  width: 6rem;
  height: 25px;
  background: var(--text);
  color: var(--body);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#loading .centerd p {
  color: var(--body);
  font-weight: bold;
  margin-left: 10px;
}
#loading .centerd p::after {
  content: "";
  -webkit-animation: loading 0.4s infinite;
          animation: loading 0.4s infinite;
}

@-webkit-keyframes loading {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes loading {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
#status {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.2784313725);
  display: none;
  justify-content: center;
  align-items: center;
}
#status .nonate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-left: 2px;
  padding-right: 2px;
  width: 8rem;
  height: 77px;
  background: var(--text);
  border-radius: 7px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2117647059);
  -webkit-animation: animations 2s infinite;
          animation: animations 2s infinite;
}
#status .nonate .wifi-logo {
  width: 37px;
  height: 37px;
}
#status .nonate .wifi-logo svg {
  width: 37px;
  height: 37px;
}
#status .nonate .wifi-logo svg .wiwi {
  fill: var(--text);
}
#status .nonate p {
  color: var(--body);
  font-size: 15px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: var(--text);
}

.extra-space-1rem {
  width: 100%;
  height: 2px;
}

.extra-space-2rem {
  width: 100%;
  height: 37px;
}

.top-navbar {
  width: 100%;
  height: 34px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
.top-navbar .mav-sidebtn {
  width: auto;
  height: auto;
  cursor: pointer;
}
.top-navbar .mav-sidebtn div:nth-child(1) {
  width: 29px;
  height: 4px;
  background-color: var(--text);
  margin-bottom: 2px;
  border-radius: 22px;
}
.top-navbar .mav-sidebtn div:nth-child(2) {
  width: 19px;
  height: 4px;
  background-color: var(--text);
  margin-bottom: 2px;
  border-radius: 22px;
}
.top-navbar .mav-sidebtn div:nth-child(3) {
  width: 25px;
  height: 4px;
  background-color: var(--text);
  border-radius: 22px;
}
.top-navbar .logo {
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.top-navbar .searchbtn {
  width: 25px;
  height: 25px;
  position: relative;
}
.top-navbar .searchbtn div:nth-child(1) {
  width: 20px;
  height: 20px;
  border: 3.8px solid var(--text);
  border-radius: 50%;
}
.top-navbar .searchbtn div:nth-child(2) {
  width: 3.8px;
  height: 9px;
  background: var(--text);
  border-radius: 22px;
  transform: rotate(-40deg);
  position: absolute;
  left: 17px;
  top: 15px;
}
.top-navbar .searchbtn svg {
  width: 25px;
  height: 25px;
}
.top-navbar .searchbtn svg path {
  fill: var(--text);
}

.center-abi {
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.3098039216);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
}
.center-abi .clossfull {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.center-abi .sidenav-slid {
  width: 192px;
  height: 160px;
  background: var(--ovewcolor);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1411764706);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.center-abi .sidenav-slid .top-s1 {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  top: 0;
}
.center-abi .sidenav-slid .top-s1 .close {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
.center-abi .sidenav-slid .top-s1 .close div:nth-child(1) {
  width: 20px;
  height: 4px;
  background: var(--text);
  transform: rotate(44deg);
  position: absolute;
  top: 13px;
  border-radius: 22px;
}
.center-abi .sidenav-slid .top-s1 .close div:nth-child(2) {
  width: 20px;
  height: 4px;
  background: var(--text);
  transform: rotate(-44deg);
  position: absolute;
  top: 13px;
  border-radius: 22px;
}
.center-abi .sidenav-slid img {
  width: 5rem;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catrigey-movie-list {
  width: auto;
  height: auto;
  overflow: auto;
}
.catrigey-movie-list .row {
  width: 67rem;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-left: 12px;
}
.catrigey-movie-list .row .btn-catre {
  width: auto;
  margin: 7px;
  position: relative;
  display: flex;
  justify-content: center;
}
.catrigey-movie-list .row .btn-catre a {
  padding: 12px;
  background-color: var(--cantsel);
  border-radius: 9px;
  z-index: 1;
}
.catrigey-movie-list .row .btn-catre span {
  position: absolute;
  top: -7px;
  background: var(--cobump);
  width: 85%;
  height: 24px;
  border-radius: 9px;
}

.file-upload-top {
  width: 100%;
  height: auto;
  margin-top: 11px;
  margin-bottom: 11px;
}
.file-upload-top .top-recent-btn {
  width: 100%;
  height: 27px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
}
.file-upload-top .top-recent-btn p {
  position: relative;
  padding-left: 9px;
  font-size: 19px;
}
.file-upload-top .top-recent-btn p::before {
  content: "";
  width: 4px;
  height: 20px;
  background: #f40062;
  position: absolute;
  left: 0;
  top: -1px;
  border-radius: 22px;
}
.file-upload-top .top-recent-btn a {
  width: 31px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-upload-top .top-recent-btn a svg {
  width: 34px;
  height: auto;
}
.file-upload-top .top-recent-btn a svg path {
  fill: var(--text);
}
.file-upload-top .movie-file-upload {
  width: 100%;
  height: auto;
  overflow: auto;
  margin-top: 9px;
}
.file-upload-top .movie-file-upload .scroll-itme {
  width: 1354px;
  height: 18rem;
  display: flex;
  justify-content: start;
  padding-left: 12px;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
}
.file-upload-top .movie-file-upload .scroll-itme .cantent-movie {
  width: 176px;
  height: 100%;
  overflow: hidden;
  border-radius: 9px;
  margin: 6px;
  position: relative;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1098039216);
}
.file-upload-top .movie-file-upload .scroll-itme .cantent-movie a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.file-upload-top .movie-file-upload .scroll-itme .cantent-movie a .reting {
  position: absolute;
  bottom: 2px;
  background: rgb(244, 0, 98);
  padding: 4px;
  right: 2px;
  border-radius: 7px;
}
.file-upload-top .movie-file-upload .scroll-itme .cantent-movie a .reting p {
  color: #fff;
  font-weight: bolder;
}

.download-area-movie {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.download-area-movie .cantentrr {
  width: 23rem;
  height: auto;
  background: var(--ovewcolor);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  margin-top: 78px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 9px;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 12px;
}
.download-area-movie .cantentrr .thimble-movie {
  width: 213px;
  height: 319px;
  position: relative;
  top: -60px;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.2);
}
.download-area-movie .cantentrr .thimble-movie img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.download-area-movie .cantentrr .thimble-movie .online-player {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.download-area-movie .cantentrr .thimble-movie .online-player a {
  width: 67px;
  height: 67px;
  -webkit-animation: animations 2s infinite;
          animation: animations 2s infinite;
  border-radius: 50%;
  background: url("../img/play.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.download-area-movie .cantentrr .thimble-movie .reting {
  position: absolute;
  bottom: 2px;
  background: rgb(244, 0, 98);
  padding: 4px;
  right: 2px;
  border-radius: 7px;
}
.download-area-movie .cantentrr .thimble-movie .reting p {
  color: #fff;
  font-weight: bolder;
}
.download-area-movie .cantentrr h2 {
  position: relative;
  top: -43px;
  font-size: 17px;
  text-align: center;
}
.download-area-movie .cantentrr .movieinfo {
  position: relative;
  top: -27px;
}
.download-area-movie .cantentrr h5 {
  position: relative;
  top: -18px;
  text-align: center;
  letter-spacing: 1px;
}
.download-area-movie .cantentrr h5 b {
  color: #f40062;
}
.download-area-movie .cantentrr h5 .addd {
  color: #00ff28;
}
.download-area-movie .cantentrr .quicksty {
  position: relative;
  top: -9px;
}
.download-area-movie .cantentrr h6 {
  text-align: center;
  font-size: 14px;
}
.download-area-movie .cantentrr-screenshot {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.download-area-movie .cantentrr-screenshot img {
  width: 38rem;
  margin: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}
.download-area-movie .download-arae-cant {
  width: 23rem;
  height: auto;
  background: var(--ovewcolor);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 9px;
  flex-direction: column;
  padding: 12px;
  margin-bottom: 12px;
}
.download-area-movie .download-arae-cant h2 {
  text-align: center;
  margin-bottom: 8px;
}
.download-area-movie .download-arae-cant a,
.download-area-movie .download-arae-cant .download-bttn {
  background: #f40062;
  color: white;
  padding: 12px;
  margin: 4px;
  border-radius: 9px;
  font-weight: bold;
  cursor: pointer;
}

.Recent-file-page-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 13px;
}
.Recent-file-page-area h2 {
  text-align: center;
}
.Recent-file-page-area .movie-area-downloadimg {
  margin-top: 12px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Recent-file-page-area .movie-area-downloadimg .movie-img {
  width: 176px;
  height: 264px;
  overflow: hidden;
  margin: 6px;
  position: relative;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1098039216);
  border-radius: 9px;
}
.Recent-file-page-area .movie-area-downloadimg .movie-img a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}
.Recent-file-page-area .movie-area-downloadimg .movie-img a .reting {
  position: absolute;
  bottom: 6px;
  background: rgb(244, 0, 98);
  padding: 4px;
  right: 2px;
  border-radius: 7px;
}
.Recent-file-page-area .movie-area-downloadimg .movie-img a .reting p {
  color: #fff;
  font-weight: bolder;
}

.download-season-area-480p,
.download-season-area-720p,
.download-season-area-1080p,
.download-season2-area-480p,
.download-season2-area-720p,
.download-season1-area-480p,
.download-season1-area-720p {
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.3098039216);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
}
.download-season-area-480p .clossfull2,
.download-season-area-720p .clossfull2,
.download-season-area-1080p .clossfull2,
.download-season2-area-480p .clossfull2,
.download-season2-area-720p .clossfull2,
.download-season1-area-480p .clossfull2,
.download-season1-area-720p .clossfull2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.download-season-area-480p .area-do,
.download-season-area-720p .area-do,
.download-season-area-1080p .area-do,
.download-season2-area-480p .area-do,
.download-season2-area-720p .area-do,
.download-season1-area-480p .area-do,
.download-season1-area-720p .area-do {
  width: 19rem;
  height: auto;
  background: var(--ovewcolor);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1411764706);
  border-radius: 9px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.download-season-area-480p .area-do .top-detal,
.download-season-area-720p .area-do .top-detal,
.download-season-area-1080p .area-do .top-detal,
.download-season2-area-480p .area-do .top-detal,
.download-season2-area-720p .area-do .top-detal,
.download-season1-area-480p .area-do .top-detal,
.download-season1-area-720p .area-do .top-detal {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
}
.download-season-area-480p .area-do .top-detal .name-mv,
.download-season-area-720p .area-do .top-detal .name-mv,
.download-season-area-1080p .area-do .top-detal .name-mv,
.download-season2-area-480p .area-do .top-detal .name-mv,
.download-season2-area-720p .area-do .top-detal .name-mv,
.download-season1-area-480p .area-do .top-detal .name-mv,
.download-season1-area-720p .area-do .top-detal .name-mv {
  margin-top: 8px;
  margin-left: 25px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.download-season-area-480p .area-do .top-detal .name-mv b,
.download-season-area-720p .area-do .top-detal .name-mv b,
.download-season-area-1080p .area-do .top-detal .name-mv b,
.download-season2-area-480p .area-do .top-detal .name-mv b,
.download-season2-area-720p .area-do .top-detal .name-mv b,
.download-season1-area-480p .area-do .top-detal .name-mv b,
.download-season1-area-720p .area-do .top-detal .name-mv b {
  font-size: 13px;
}
.download-season-area-480p .area-do .top-detal .name-mv m,
.download-season-area-720p .area-do .top-detal .name-mv m,
.download-season-area-1080p .area-do .top-detal .name-mv m,
.download-season2-area-480p .area-do .top-detal .name-mv m,
.download-season2-area-720p .area-do .top-detal .name-mv m,
.download-season1-area-480p .area-do .top-detal .name-mv m,
.download-season1-area-720p .area-do .top-detal .name-mv m {
  color: #00b7ff;
  margin-left: 12px;
}
.download-season-area-480p .area-do .top-detal .close,
.download-season-area-720p .area-do .top-detal .close,
.download-season-area-1080p .area-do .top-detal .close,
.download-season2-area-480p .area-do .top-detal .close,
.download-season2-area-720p .area-do .top-detal .close,
.download-season1-area-480p .area-do .top-detal .close,
.download-season1-area-720p .area-do .top-detal .close {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1px;
  cursor: pointer;
}
.download-season-area-480p .area-do .top-detal .close div:nth-child(1),
.download-season-area-720p .area-do .top-detal .close div:nth-child(1),
.download-season-area-1080p .area-do .top-detal .close div:nth-child(1),
.download-season2-area-480p .area-do .top-detal .close div:nth-child(1),
.download-season2-area-720p .area-do .top-detal .close div:nth-child(1),
.download-season1-area-480p .area-do .top-detal .close div:nth-child(1),
.download-season1-area-720p .area-do .top-detal .close div:nth-child(1) {
  width: 20px;
  height: 4px;
  background: var(--text);
  transform: rotate(44deg);
  position: absolute;
  top: 13px;
  border-radius: 22px;
}
.download-season-area-480p .area-do .top-detal .close div:nth-child(2),
.download-season-area-720p .area-do .top-detal .close div:nth-child(2),
.download-season-area-1080p .area-do .top-detal .close div:nth-child(2),
.download-season2-area-480p .area-do .top-detal .close div:nth-child(2),
.download-season2-area-720p .area-do .top-detal .close div:nth-child(2),
.download-season1-area-480p .area-do .top-detal .close div:nth-child(2),
.download-season1-area-720p .area-do .top-detal .close div:nth-child(2) {
  width: 20px;
  height: 4px;
  background: var(--text);
  transform: rotate(-44deg);
  position: absolute;
  top: 13px;
  border-radius: 22px;
}
.download-season-area-480p .area-do .dow-area,
.download-season-area-720p .area-do .dow-area,
.download-season-area-1080p .area-do .dow-area,
.download-season2-area-480p .area-do .dow-area,
.download-season2-area-720p .area-do .dow-area,
.download-season1-area-480p .area-do .dow-area,
.download-season1-area-720p .area-do .dow-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 18px;
  flex-wrap: wrap;
  padding-bottom: 8px;
}
.download-season-area-480p .area-do .dow-area a,
.download-season-area-720p .area-do .dow-area a,
.download-season-area-1080p .area-do .dow-area a,
.download-season2-area-480p .area-do .dow-area a,
.download-season2-area-720p .area-do .dow-area a,
.download-season1-area-480p .area-do .dow-area a,
.download-season1-area-720p .area-do .dow-area a {
  background: #4f4f4f;
  color: white;
  padding: 12px;
  margin: 4px;
  border-radius: 9px;
  font-weight: bold;
}

.search-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 18px;
}
.search-area .searchinput {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  position: relative;
}
.search-area .searchinput .searchbtn {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 4px;
  margin-top: 6px;
  margin-left: 3px;
}
.search-area .searchinput .searchbtn div:nth-child(1) {
  width: 16px;
  height: 16px;
  border: 3.8px solid var(--text);
  border-radius: 50%;
}
.search-area .searchinput .searchbtn div:nth-child(2) {
  width: 3.8px;
  height: 9px;
  background: var(--text);
  border-radius: 22px;
  transform: rotate(-44deg);
  position: absolute;
  left: 14px;
  top: 11px;
}
.search-area .searchinput #searchbar {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 7px;
  background: var(--searchback);
  color: var(--searchcolor);
  padding-left: 32px;
  padding-right: 12px;
  font-size: 16px;
}

#no-searchimg {
  width: 100%;
  height: 25rem;
  display: none;
  justify-content: center;
  align-items: center;
}
#no-searchimg img {
  width: 13rem;
}

.search-reselt-area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 12px;
}
.search-reselt-area h2 {
  text-align: center;
}
.search-reselt-area .resel-seachh {
  width: 176px;
  height: 268px;
  overflow: hidden;
  position: relative;
  margin: 6px;
}
.search-reselt-area .resel-seachh .search-dn {
  display: none;
}
.search-reselt-area .resel-seachh img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}
.search-reselt-area .resel-seachh .reting {
  position: absolute;
  bottom: 2px;
  background: rgb(244, 0, 98);
  padding: 4px;
  right: 2px;
  border-radius: 7px;
}
.search-reselt-area .resel-seachh .reting p {
  color: #fff;
  font-weight: bolder;
}

.page-numbers {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 12px;
  margin-bottom: 12px;
}
.page-numbers a,
.page-numbers div {
  padding: 12px;
  background: var(--searchback);
  margin: 3px;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-numbers .activnu {
  border: 2px solid #f40062;
  pointer-events: none;
}
.page-numbers .rto {
  transform: rotate(-180deg);
}
.page-numbers .next {
  padding: 3px;
}
.page-numbers .next svg {
  width: 33px;
  height: 33px;
}
.page-numbers .next svg path {
  fill: var(--text);
}

.chat-arae {
  width: 100%;
  height: 100%;
}
.chat-arae .text-eafnr {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.chat-arae .text-eafnr img {
  width: 100px;
  border-radius: 9px;
  margin-top: 43px;
}
.chat-arae .text-eafnr h2 {
  padding: 0px 21px 0px 21px;
  margin-top: 14px;
  font-size: 21px;
  text-align: center;
}
.chat-arae .arrow {
  width: auto;
  height: auto;
  position: absolute;
  bottom: 4px;
  right: 9rem;
}
.chat-arae .arrow h2 {
  transform: rotate(348deg);
  position: absolute;
  top: -13px;
  left: -45px;
}
.chat-arae .arrow svg {
  transform: rotate(86deg);
  width: 199px;
  height: 199px;
}
.chat-arae .arrow svg path {
  fill: var(--text);
}

@-webkit-keyframes animations {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #f5f5f5;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes animations {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #f5f5f5;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}
@media (max-width: 390px) {
  .sidenav-slid {
    width: 239px !important;
    height: 199px !important;
  }
}
@media (max-width: 450px) {
  .item {
    height: 184px !important;
  }
}
@media (max-width: 375px) {
  .Recent-file-page-area .movie-area-downloadimg .movie-img {
    width: 166px !important;
  }
  .search-reselt-area .resel-seachh {
    width: 166px !important;
  }
}
@media (max-width: 355px) {
  .Recent-file-page-area .movie-area-downloadimg .movie-img {
    width: 145px !important;
    height: 213px !important;
  }
  .search-reselt-area .resel-seachh {
    width: 145px !important;
    height: 213px !important;
  }
}
@media (max-width: 313px) {
  .Recent-file-page-area .movie-area-downloadimg .movie-img {
    width: 125px !important;
    height: 189px !important;
  }
  .search-reselt-area .resel-seachh {
    width: 125px !important;
    height: 189px !important;
  }
}
@media (max-width: 608px) {
  .cantentrr-screenshot img {
    width: 23rem !important;
  }
  .chat-arae .arrow {
    right: 6rem !important;
  }
  .chat-arae .arrow h2 {
    top: 30px !important;
  }
  .chat-arae .arrow svg {
    width: 99px !important;
  }
}/*# sourceMappingURL=style.css.map */