* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  background-color: white;
  font-family: "Heebo", sans-serif, -webkit-pictograph;
}

::-webkit-scrollbar {
  display: none !important;
}

:root {
  --body: #ffffff;
  --text: #272727;
  --ovewcolor: #ffffff;
  --cantsel: #eaeaea;
}

button {
  border: none;
}

body {
  overflow-x: hidden !important;
  background: var(--body);
  color: var(--text);
  font-family: system-ui;
  transition: background 0.3s;
}
body.dark {
  --body: #272727;
  --text: #fff;
  --ovewcolor: #2f2f2f;
  --cantsel: #141313;
}

.nightanddea {
  width: 36px;
  height: 36px;
  background: var(--sidenav);
  display: flex;
  justify-content: center;
  align-items: center;
}
.nightanddea .theme-toggle {
  background: var(--sidenav);
  cursor: pointer;
}
.nightanddea .theme-toggle svg {
  fill: var(--text);
}

.center-abi.closeer {
  display: flex !important;
}

#loading {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 999;
}
#loading .centerd {
  width: 6rem;
  height: 25px;
  background: var(--text);
  color: var(--body);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#loading .centerd p {
  color: var(--body);
  font-weight: bold;
  margin-left: 10px;
}
#loading .centerd p::after {
  content: "";
  -webkit-animation: loading 0.4s infinite;
          animation: loading 0.4s infinite;
}

@-webkit-keyframes loading {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

@keyframes loading {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
#status {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-left: 2px;
  padding-right: 2px;
  width: 8rem;
  height: 40px;
  background: var(--text);
  position: fixed;
  bottom: 2rem;
  left: 12px;
  border-radius: 7px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2117647059);
  z-index: 999;
}
#status .wifi-logo {
  width: 37px;
  height: 37px;
}
#status .wifi-logo svg {
  width: 37px;
  height: 37px;
}
#status .wifi-logo svg .wiwi {
  fill: var(--text);
}
#status p {
  color: var(--body);
  font-size: 15px;
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: var(--text);
}

#mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#mobile .top-navbar {
  width: 100%;
  height: 34px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
#mobile .top-navbar .mav-sidebtn {
  width: auto;
  height: auto;
  cursor: pointer;
}
#mobile .top-navbar .mav-sidebtn div:nth-child(1) {
  width: 29px;
  height: 4px;
  background-color: var(--text);
  margin-bottom: 2px;
  border-radius: 22px;
}
#mobile .top-navbar .mav-sidebtn div:nth-child(2) {
  width: 19px;
  height: 4px;
  background-color: var(--text);
  margin-bottom: 2px;
  border-radius: 22px;
}
#mobile .top-navbar .mav-sidebtn div:nth-child(3) {
  width: 25px;
  height: 4px;
  background-color: var(--text);
  border-radius: 22px;
}
#mobile .top-navbar .logo {
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
#mobile .top-navbar .searchbtn {
  width: 25px;
  height: 25px;
  position: relative;
}
#mobile .top-navbar .searchbtn div:nth-child(1) {
  width: 20px;
  height: 20px;
  border: 3.8px solid var(--text);
  border-radius: 50%;
}
#mobile .top-navbar .searchbtn div:nth-child(2) {
  width: 3.8px;
  height: 12px;
  background: var(--text);
  border-radius: 22px;
  transform: rotate(-36deg);
  position: absolute;
  left: 17px;
  top: 15px;
}
#mobile .center-abi {
  width: 100%;
  height: 100%;
  background: rgba(39, 39, 39, 0.3098039216);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  z-index: 4;
  display: none;
  justify-content: center;
  align-items: center;
}
#mobile .center-abi .clossfull {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#mobile .center-abi .sidenav-slid {
  width: 192px;
  height: 160px;
  background: var(--ovewcolor);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1411764706);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#mobile .center-abi .sidenav-slid .top-s1 {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  position: absolute;
  top: 0;
}
#mobile .center-abi .sidenav-slid .top-s1 .close {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
#mobile .center-abi .sidenav-slid .top-s1 .close div:nth-child(1) {
  width: 20px;
  height: 4px;
  background: var(--text);
  transform: rotate(44deg);
  position: absolute;
  top: 13px;
  border-radius: 22px;
}
#mobile .center-abi .sidenav-slid .top-s1 .close div:nth-child(2) {
  width: 20px;
  height: 4px;
  background: var(--text);
  transform: rotate(-44deg);
  position: absolute;
  top: 13px;
  border-radius: 22px;
}
#mobile .center-abi .sidenav-slid img {
  width: 5rem;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
}
#mobile .catrigey-movie-list {
  width: auto;
  height: auto;
  overflow: auto;
}
#mobile .catrigey-movie-list .row {
  width: 56rem;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  padding-left: 12px;
}
#mobile .catrigey-movie-list .row .btn-catre {
  width: auto;
  background-color: var(--cantsel);
  margin: 7px;
  padding: 12px;
  border-radius: 9px;
}

@media (max-width: 390px) {
  .sidenav-slid {
    width: 239px !important;
    height: 199px !important;
  }
}
@media (max-width: 450px) {
  .item {
    height: 184px !important;
  }
}/*# sourceMappingURL=style.css.map */