* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
    background-color: white;
    font-family: "Heebo", sans-serif, -webkit-pictograph;
}

::-webkit-scrollbar {
    display: none !important;
}

:root {
    --body: #ffffff;
    --text: #272727;
    --ovewcolor: #ffffff;
    --cantsel: #eaeaea;
    --cobump: rgba(200, 200, 200, 0.67);
}

button {
    border: none;
}

body {
    overflow-x: hidden !important;
    background: var(--body);
    color: var(--text);
    font-family: system-ui;
    // perspective: 1000px;
    transition: background 0.3s;

    &.dark {
        --body: #272727;
        --text: #fff;
        --ovewcolor: #2f2f2f;
        --cantsel: #141313;
        --cobump: #141313a1;
    }
}

.nightanddea {
    width: 36px;
    height: 36px;
    background: var(--sidenav);
    display: flex;
    justify-content: center;
    align-items: center;

    .theme-toggle {
        background: var(--sidenav);
        cursor: pointer;

        svg {
            fill: var(--text);
        }
    }
}

.center-abi.closeer {
    display: flex !important;
}

#loading {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;

    .centerd {
        width: 6rem;
        height: 25px;
        background: var(--text);
        color: var(--body);
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            color: var(--body);
            font-weight: bold;
            margin-left: 10px;

            &::after {
                content: '';
                animation: loading 0.4s infinite;
            }
        }
    }
}

@keyframes loading {
    0% {
        content: ".";
    }

    50% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

#status {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding-left: 2px;
    padding-right: 2px;
    width: 8rem;
    height: 40px;
    background: var(--text);
    position: fixed;
    bottom: 2rem;
    left: 12px;
    border-radius: 7px;
    box-shadow: 0px 0px 20px #00000036;
    z-index: 999;

    .wifi-logo {
        width: 37px;
        height: 37px;

        svg {
            width: 37px;
            height: 37px;

            .wiwi {
                fill: var(--text);
            }
        }
    }

    p {
        color: var(--body);
        font-size: 15px;
        font-weight: bolder;
    }
}

a {
    text-decoration: none;
    color: var(--text);
}



.top-navbar {
    width: 100%;
    height: 34px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;

    .mav-sidebtn {
        width: auto;
        height: auto;
        cursor: pointer;

        div:nth-child(1) {
            width: 29px;
            height: 4px;
            background-color: var(--text);
            margin-bottom: 2px;
            border-radius: 22px;
        }

        div:nth-child(2) {
            width: 19px;
            height: 4px;
            background-color: var(--text);
            margin-bottom: 2px;
            border-radius: 22px;
        }

        div:nth-child(3) {
            width: 25px;
            height: 4px;
            background-color: var(--text);
            border-radius: 22px;
        }
    }

    .logo {
        width: 5rem;
        object-fit: cover;
    }

    .searchbtn {
        width: 25px;
        height: 25px;
        position: relative;

        div:nth-child(1) {
            width: 20px;
            height: 20px;
            border: 3.8px solid var(--text);
            border-radius: 50%;
        }

        div:nth-child(2) {
            width: 3.8px;
            height: 12px;
            background: var(--text);
            border-radius: 22px;
            transform: rotate(-36deg);
            position: absolute;
            left: 17px;
            top: 15px;
        }
    }
}

.center-abi {
    width: 100%;
    height: 100%;
    background: #2727274f;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    z-index: 4;
    display: none;
    justify-content: center;
    align-items: center;

    .clossfull {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .sidenav-slid {
        width: 192px;
        height: 160px;
        background: var(--ovewcolor);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1411764706);
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        .top-s1 {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: space-between;
            padding-left: 3px;
            padding-right: 3px;
            position: absolute;
            top: 0;

            .close {
                width: 25px;
                height: 25px;
                position: relative;
                cursor: pointer;

                div:nth-child(1) {
                    width: 20px;
                    height: 4px;
                    background: var(--text);
                    transform: rotate(44deg);
                    position: absolute;
                    top: 13px;
                    border-radius: 22px;
                }

                div:nth-child(2) {
                    width: 20px;
                    height: 4px;
                    background: var(--text);
                    transform: rotate(-44deg);
                    position: absolute;
                    top: 13px;
                    border-radius: 22px;
                }
            }
        }

        img {
            width: 5rem;
            border-radius: 12px;
            object-fit: cover;
        }
    }
}

.catrigey-movie-list {
    width: auto;
    height: auto;
    overflow: auto;

    .row {
        width: 56rem;
        height: auto;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: row;
        padding-left: 12px;

        .btn-catre {
            width: auto;
            margin: 7px;
            position: relative;
            display: flex;
            justify-content: center;

            a {
                padding: 12px;
                background-color: var(--cantsel);
                border-radius: 9px;
                z-index: 1;
            }

            span {
                position: absolute;
                top: -7px;
                background: var(--cobump);
                width: 85%;
                height: 24px;
                border-radius: 9px;
            }
        }
    }
}

.recent-upload {
    width: 100%;
    height: auto;
    margin-top: 11px;
    margin-bottom: 11px;

    .top-recent-btn {
        width: 100%;
        height: 27px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 12px;
        align-items: center;

        p {
            position: relative;
            padding-left: 9px;

            &::before {
                content: "";
                width: 4px;
                height: 20px;
                background: #f40062;
                position: absolute;
                left: 0;
                border-radius: 22px;
            }
        }

        a {
            width: 31px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                width: 16px;
                height: 4px;
                border-radius: 22px;
                background: var(--text);
            }

            div:nth-child(1) {
                transform: rotate(34deg);
                margin-left: 11px;
            }

            div:nth-child(2) {
                width: 20px;
                margin-left: 2px;
            }

            div:nth-child(3) {
                transform: rotate(-34deg);
                margin-left: 11px;
            }
        }
    }

    .movie-recent-upload {
        width: 100%;
        height: auto;
        overflow: auto;
        margin-top: 9px;

        .scroll-itme {
            width: 1354px;
            height: 18rem;
            display: flex;
            justify-content: start;
            padding-left: 12px;
            align-items: center;
            padding-top: 9px;
            padding-bottom: 9px;

            .cantent-movie {
                width: 176px;
                height: 100%;
                overflow: hidden;
                border-radius: 9px;
                margin: 6px;

                a {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

    }
}


@media (max-width: 390px) {
    .sidenav-slid {
        width: 239px !important;
        height: 199px !important;
    }
}

@media (max-width: 450px) {
    .item {
        height: 184px !important;
    }
}